<div class="section section-padding">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="subtitle"> <span></span> ACHIEVED WITH YOU
                <span></span> </h6>
            <h4 class="title">We need your help</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let item of serviceblock | paginate: { itemsPerPage: 3, currentPage: page }">
                <div class="sigma_service style-1">
                    <div class="sigma_service-thumb">
                        <i [class]="item.icon"></i>
                    </div>
                    <div class="sigma_service-body">
                        <h5>{{item.title}}</h5>
                        <p>{{item.text}} </p>
                        <a routerLink="/charity-details/{{item.id}}" class="btn-link"> Read More <i class="far fa-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-wrap pagination mb-0">
            <pagination-controls (pageChange)="page = $event" previousLabel="<" nextLabel=">"> 
            </pagination-controls>
        </div>
    </div>
</div>