<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-lg-30">
                <div class="section-title mb-0 text-left">
                    <p class="subtitle"> <span></span> Service Feedback <span></span> </p>
                    <h4 class="title">Happy Clients Say</h4>
                </div>
                <div class="basic-arrow-slider-wrap">
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" class="basic-arrow-slider light-dots">
                        <div ngxSlickItem class="slide-item" *ngFor="let item of testimonials">
                            <p class="mb-0">{{item.comment}}</p>
                        </div>
                    </ngx-slick-carousel>
                    <div class="sigma_arrows">
                        <i class="slick-arrow prev far fa-arrow-left"></i>
                        <i class="slick-arrow next far fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mr-lg-30">
                    <div class="sigma_dots-wrapper">
                        <img src="assets/img/about.png" alt="about">
                        <div class="sigma_dots dots-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>