<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Article Start -->
                <article class="sigma_post sigma_post-list"
                    *ngFor="let item of blogpost | paginate: { itemsPerPage: 3, currentPage: page }">
                    <!-- Standard -->
                    <div class="sigma_post-thumb" *ngIf="item.format === 'standard' || item.format === ''">
                        <a routerLink="/blog-details/{{item.id}}">
                            <img [src]="item.image[0]" [alt]="item.title">
                        </a>
                        <div class="sigma_post-date" [innerHtml]="getInitialListDate(item.postdate)">
                        </div>
                    </div>
                    <!-- Video -->
                    <div class="sigma_post-thumb post-format-video"
                        *ngIf="item.format === 'video' && item.video != '' ">
                        <img [src]="item.image[0]" [alt]="item.title">
                        <a href="{{item.video}}" class="bg-white sigma_video-popup popup-youtube">
                            <i class="fas fa-play"></i>
                        </a>
                        <div class="sigma_post-date" [innerHtml]="getInitialListDate(item.postdate)">
                        </div>
                    </div>
                    <!-- Gallery -->
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings"
                        class="sigma_post-thumb sigma_post-gallery"
                        *ngIf="item.format === 'gallery' && item.image != [] ">
                        <div ngxSlickItem class="sigma_post-gallery" *ngFor="let image of item.image">
                            <img [src]="image" [alt]="item.title">
                        </div>
                    </ngx-slick-carousel>
                    <!-- Audio -->
                    <div class="sigma_post-thumb post-format-audio"
                        *ngIf="item.format === 'audio' && item.audio != '' ">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" [src]="sanitnizeAudioURL(item.audio)"></iframe>
                        </div>
                    </div>
                    <!-- Quote -->
                    <div class="sigma_post-thumb post-format-quote" *ngIf="item.format === 'quote' && item.quote != ''">
                        <div class="sigma_post-body">
                            <div>
                                <h5>
                                    <a href="#">{{item.quote}}</a>
                                </h5>
                                <ul class="sigma_post-meta">
                                    <li><a routerLink="/blog-details/{{item.id}}"><i
                                                class="far fa-comments"></i>{{item.reviews.length}} Comments</a></li>
                                    <li><a routerLink="/blog-details/{{item.id}}"><i
                                                class="far fa-calendar-alt"></i>{{item.postdate}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Link -->
                    <div class="sigma_post-thumb post-format-quote post-link"
                        *ngIf="item.format === 'link' && item.link != ''">
                        <div class="sigma_post-body">
                            <div>
                                <h5>
                                    <a routerLink="/blog-details/{{item.id}}">{{item.title}}</a>
                                </h5>
                                <ul class="sigma_post-meta">
                                    <li><a href="{{item.link}}"><i class="far fa-link"></i>{{item.link}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sigma_post-body">
                        <div class="sigma_post-meta">
                            <div class="sigma_post-categories">
                                <a routerLink="/blog/tag/{{tag.id}}" class="sigma_post-category"
                                    *ngFor="let tag of getTags(item.tags) | slice:0:1">{{tag.title}}</a>
                            </div>
                        </div>
                        <h5> <a routerLink="/blog-details/{{item.id}}">{{item.title | slice:0:70}}</a> </h5>
                        <p>{{item.shortdesc}}</p>
                        <div class="sigma_post-footer">
                            <a routerLink="/blog-details/{{item.id}}" class="btn-link"> Read More <i
                                    class="far fa-plus"></i> </a>
                        </div>
                    </div>
                </article>
                <!-- Article End -->
                <!-- Pagination Start -->
                <div class="pagination-wrap pagination mb-0">
                    <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<" nextLabel=">">
                    </pagination-controls>
                </div>
                <!-- Pagination End -->
            </div>
            <div class="col-lg-4">
                <app-blog-sidebar></app-blog-sidebar>
            </div>
        </div>
    </div>
</div>