<div class="section">
    <div class="container">
        <div class="section-title text-center">
            <p class="subtitle"> <span></span> Testimonials <span></span> </p>
            <h4 class="title">Community's Words</h4>
        </div>
        <div class="sigma_testimonial style-2 dark">
            <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" class="sigma_testimonial-slider">
                <div ngxSlickItem class="sigma_testimonial-inner" *ngFor="let item of testimonials">
                    <div class="sigma_testimonial-thumb" *ngFor="let author of getAuthor(item.author)">
                        <img [src]="author.img" [alt]="author.name">
                    </div>
                    <div>
                        <div class="sigma_testimonial-body">
                            <p>{{item.comment | slice:0:140}}</p>
                        </div>
                        <div class="sigma_testimonial-footer">
                            <div class="sigma_testimonial-author" *ngFor="let author of getAuthor(item.author)">
                                <cite>{{author.name}}</cite>
                                <span>{{author.designation}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>