<div class="section section-padding">
    <div class="container">
        <div class="section-title text-center">
            <p class="subtitle"> <span></span> Events <span></span> </p>
            <h4 class="title">Upcoming Events</h4>
        </div>
        <div class="text-center filter-items">
            <h5 class="portfolio-trigger" [ngClass]="activeItem === 1 ? 'active' : ''" (click)="reset(1)">All</h5>
            <h5 class="portfolio-trigger" [ngClass]="activeItem === 2+i ? 'active' : ''"
                *ngFor="let item of categories; let i = index" (click)="filterItemsByCategory(item, 2+i)">{{item.title}}
            </h5>
        </div> 
        <div class="portfolio-filter row">
            <div class="col-lg-4" *ngFor="let item of filteredItems; let i = index">
                <div class="sigma_portfolio-item">
                    <img [src]="item.gridimg" [alt]="item.title">
                    <div class="sigma_portfolio-item-content">
                        <div class="sigma_portfolio-item-content-inner">
                            <span class="fw-600 custom-primary"> {{item.eventdate}} </span>
                            <h5> <a routerLink="/event-details/{{item.id}}"> {{item.title}} </a> </h5>
                            <p>{{item.shortdesc}}</p>
                        </div>
                        <a routerLink="/event-details/{{item.id}}"><i class="fal fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>