<div class="section">
    <div class="container">
        <div class="sigma_timeline">
            <div class="row no-gutters justify-content-end justify-content-md-around align-items-start sigma_timeline-nodes" *ngFor="let item of history">
                <div class="col-12 col-md-5 order-3 order-md-1 sigma_timeline-content pattern-squares">
                    <h4>{{item.title}}</h4>
                    <p>{{item.desc}}</p>
                </div>
                <div class="col-2 col-sm-1 px-md-3 order-2 sigma_timeline-image text-md-center">
                    <i class="far fa-circle"></i>
                </div>
                <div class="col-12 col-md-5 order-1 order-md-3 pb-3 sigma_timeline-date">
                    <span>{{item.year}}</span><br><span class="sigma_timeline-month">{{item.date}}</span>
                </div>
            </div>
        </div>
    </div>
</div>