<div class="sidebar">
    <div class="sidebar-widget widget-logo">
        <img src="assets/img/logo-dark.png" class="mb-30" alt="img">
        <p>Charitable giving is the act of giving money, goods or time to the unfortunate, either directly or by means of a charitable trust or other worthy cause. It’s for mankind</p>
    </div>
    <!-- Popular Feed Start -->
    <div class="sidebar-widget widget-recent-posts">
        <h5 class="widget-title">Recent Posts</h5>
        <!-- <article class="sigma_recent-post" *ngFor="let item of recentPost() | slice:0:3">
            <a routerLink="/blog-details/{{item.id}}"><img [src]="item.image[0]" [alt]="item.title"></a>
            <div class="sigma_recent-post-body">
                <a routerLink="/blog-details/{{item.id}}"> <i class="far fa-calendar"></i> {{item.postdate}}</a>
                <h6> <a routerLink="/blog-details/{{item.id}}">{{item.title}}</a> </h6>
            </div>
        </article> -->
    </div>
    <!-- Popular Feed End -->
    <!-- Instagram Start -->
    <div class="sidebar-widget widget-ig">
        <h5 class="widget-title">Instagram</h5>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-6" *ngFor="let item of instapost">
                <a routerLink="/" class="sigma_ig-item">
                    <img [src]="item.img" alt="ig">
                </a>
            </div>
        </div>
    </div>
    <!-- Instagram End -->
</div>