<div class="section light-bg pattern-building-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title text-left">
                    <p class="subtitle"> <span></span> Why Choose Us <span></span> </p>
                    <h4 class="title">We love all people, Care about people</h4>
                </div>
                <p class="mb-5">Most forms of charity are concerned with providing basic necessities such as food, water, clothing, healthcare and shelter, but other actions may be performed as charity: visiting the imprisoned Charitable giving is the act of giving money, either directly or by means of a charitable trust</p>
                <div class="sigma_icon-block icon-block-3" *ngFor="let item of blocks">
                    <div class="icon-wrapper">
                        <i [class]="item.icon"></i>
                    </div>
                    <div class="sigma_icon-block-content">
                        <h5> {{item.title}} </h5>
                        <p>{{item.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute-img d-none d-lg-block">
        <img class="w-100" src="assets/img/service/bg.jpg" alt="img">
    </div>
</div>