<div class="section section-padding light-bg pattern-building-3">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="subtitle"> <span></span> Working Process <span></span> </h6>
            <h4 class="title">Community Work</h4>
        </div>
        <div class="row">
            <div class="col-lg-3" *ngFor="let item of workprocess;let i = index">
                <div class="sigma_icon-block text-center icon-block-7">
                    <div class="icon-wrapper">
                        <span class="stroke-text stroke-text-dark">0{{1+i}}</span>
                    </div>
                    <div class="sigma_icon-block-content">
                        <h5> {{item.title}} </h5>
                        <p>{{item.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>