<div class="section light-bg">
    <div class="spacer spacer-vertical spacer-xl left bg-white d-none d-lg-block"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/service/bg1.jpg" alt="about">
            </div>
            <div class="col-lg-6">
                <div class="mr-lg-30">
                    <div class="section-title mb-0 text-left">
                        <p class="subtitle"> <span></span> About us <span></span> </p>
                        <h4 class="title">Have any questions about our Charity</h4>
                    </div>
                    <div class="accordion with-gap" id="generalFAQExample">
                        <ngb-accordion [closeOthers]="true" activeIds="static-1">
                            <ngb-panel id="static-{{1+i}}" *ngFor="let item of faqs | slice:0:4;let i = index">
                                <ng-template ngbPanelTitle>
                                    {{item.title}}
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    {{item.text}}
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>