<div class="section sigma_post-single" *ngFor="let item of blogdetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-detail-wrapper">
                    <div class="entry-content">
                        <img [src]="item.image[0]" [alt]="item.title">
                        <div class="sigma_post-meta">
                            <div class="sigma_post-categories">
                                <a routerLink="/blog/cat/{{category.id}}" class="sigma_post-category" *ngFor="let category of getCategories(item.category)">{{category.title}}</a>
                            </div>
                        </div>
                        <h4 class="entry-title">{{item.title}}</h4>
                        <div class="sigma_post-meta">
                            <a routerLink="/blog-details/{{item.id}}"> <i class="far fa-eye"></i> {{item.views}} Views</a>
                            <a routerLink="/blog-details/{{item.id}}"> <i class="far fa-comments"></i> {{item.reviews.length}} Comments</a>
                            <a routerLink="/blog-details/{{item.id}}"> <i class="far fa-calendar"></i> {{item.postdate}}</a>
                        </div>
                        <div [innerHtml]="item.htmldesc"></div>
                    </div>
                    <!-- Post Meta Start -->
                    <div class="sigma_post-single-meta">
                        <div class="sigma_post-single-meta-item">
                            <div class="tagcloud">
                                <a routerLink="/blog/tag/{{tags.id}}" *ngFor="let tags of getTags(item.tags)">{{tags.title}}</a>
                            </div>
                        </div>
                        <div class="sigma_post-single-meta-item sigma_post-share">
                            <ul class="sigma_sm">
                                <li *ngFor="let social of socialShare(item.title)">
                                    <a href="javascript:void(0)" (click)="openSocialPopup(social)">
                                        <i [class]="social.iconClass"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Post Meta End -->
                    <!-- Post Pagination Start -->
                    <div class="section">
                        <div class="sigma_single-pagination" [innerHtml]="postnavigation(blogpost, item.id - 1)">
                        </div>
                    </div>
                    <!-- Post Pagination End -->
                    <!-- Comments Start -->
                    <div class="section">
                        <h5>{{item.reviews.length}} Comments</h5>
                        <div class="comments-list">
                            <ul>
                                <li class="comment-item" *ngFor="let review of item.reviews">
                                    <img [src]="user.img" [alt]="user.name" *ngFor="let user of getAuthor(review.user)">
                                    <div class="comment-body">
                                        <h5 *ngFor="let user of getAuthor(review.user)">{{user.name}}</h5>
                                        <span> <i class="far fa-clock"></i> {{review.commentdate}}</span>
                                        <p>{{review.comment}}</p>
                                        <a href="#" class="btn-link"> Reply <i class="far fa-reply"></i> </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section">
                        <h5>Leave a Reply</h5>
                        <p>Your email address will not be published. Required fields are marked</p>
                        <div class="comment-form">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email Address" class="form-control" name="email" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Full Name" class="form-control" name="fname" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Enter your Message" name="comment" rows="11"></textarea>
                                </div>
                                <button type="submit" class="sigma_btn-custom" name="button">Post Comment <i class="far fa-plus"></i> </button>
                            </form>
                        </div>
                    </div>
                    <!-- Comments End -->
                </div>
            </div>
            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <app-blog-sidebar></app-blog-sidebar>
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
</div>