<div class="section section-padding">
    <div class="container">
        <div class="section-title text-center">
            <p class="subtitle"> <span></span> Donate Us <span></span> </p>
            <h4 class="title">A little means a lot</h4>
        </div>
        <div class="row">
            <!-- Pricing Item Start -->
            <div class="col-md-6 col-lg-4" *ngFor="let item of plans">
                <div class="sigma_pricing pricing-2" [ngClass]="item.id === 2 ? 'main' : ''">
                    <div class="sigma_pricing-price">
                        <span class="sigma_pricing-currency">${{item.price | number:'1.0-0'}}</span>
                        <span>/{{item.period}}</span>
                    </div>
                    <div class="sigma_pricing-info">
                        <h5 class="sigma_pricing-title">{{item.plantitle}}</h5>
                        <span>{{item.category}}</span>
                    </div>
                    <ul class="list-style-none">
                        <li *ngFor="let list of item.includes"><i class="fal fa-check"></i>{{list}}</li>
                        <li><a class="sigma_btn-custom" [ngClass]="item.btntype" routerLink="/contact">Get Started</a></li>
                    </ul>
                </div>
            </div>
            <!-- Pricing Item End -->
        </div>
    </div>
</div>