<div class="section">
    <div class="container">
        <div class="section-title text-left">
            <p class="subtitle"> <span></span> Asked Question <span></span> </p>
            <h4 class="title">Find informative answers or any questions based on our Charity</h4>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-lg-30">
                <div class="accordion with-gap">
                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel id="static-{{1+i}}" *ngFor="let item of faqs | slice:0:4;let i = index">
                            <ng-template ngbPanelTitle>
                                {{item.title}}
                            </ng-template>
                            <ng-template ngbPanelContent>
                                {{item.text}}
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion with-gap">
                    <ngb-accordion [closeOthers]="true" activeIds="static-two-1">
                        <ngb-panel id="static-two-{{1+i}}" *ngFor="let item of faqs | slice:4:8;let i = index">
                            <ng-template ngbPanelTitle>
                                {{item.title}}
                            </ng-template>
                            <ng-template ngbPanelContent>
                                {{item.text}}
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>
</div>