<breadcrumb #parent>
    <div class="sigma_subheader" [style.background-image]="'url(assets/img/subheader.jpg)'">
        <div class="container">
            <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                <div class="sigma_subheader-inner">
                    <div class="sigma_subheader-text">
                        <h1>{{ route.displayName }}</h1>
                        <p>Raise a Helping Hand For Poor People</p>
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="btn-link" routerLink="/">Home</a></li>
                            <li class="breadcrumb-item" *ngIf="!route.terminal">
                                <a href="" class="btn-link" [routerLink]="[route.url]">{{ route.displayName }}</a>
                            </li>
                            <li *ngIf="route.terminal" class="breadcrumb-item active">{{ route.displayName }}</li>
                        </ol>
                    </nav>
                </div>
            </ng-template>
        </div>
    </div>
</breadcrumb>