<div class="section section-padding">
    <div class="container">
        <div class="section-title text-left">
            <p class="subtitle"> <span></span> Volunteers<span></span> </p>
            <h4 class="title">Previous Volunteers</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let item of teamblock | slice:0:3">
                <div class="sigma_team team-2">
                    <div class="sigma_team-thumb">
                        <img [src]="item.img" [alt]="item.name">
                        <div class="sigma_team-sm">
                            <ul class="sigma_sm">
                                <li *ngFor="let item of item.social"> 
                                    <a routerLink="{{item.url}}" [title]="item.title"> <i [class]="item.icon"></i> </a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sigma_team-body">
                        <div class="sigma_team-info">
                            <h5>{{item.name}}</h5>
                        <p>{{item.designation}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>