<app-header [layout]="headerStyle"></app-header>
<app-banner></app-banner>
<app-brands></app-brands>
<app-about-text></app-about-text>
<app-about-us></app-about-us>
<app-services></app-services>
<app-events></app-events>
<app-gallery></app-gallery>
<app-team></app-team>
<app-testimonials></app-testimonials>
<div class="section p-0 light-bg">
    <div class="spacer bg-white"></div>
    <div class="container-fluid">
        <app-process></app-process>
        <app-brands></app-brands>
    </div>
</div>
<app-blog-post></app-blog-post>
<app-footer [layout]="footerStyle"></app-footer>