<div class="section pt-0">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="subtitle cursive-style"> <span></span> Donate <span></span> </h6>
            <h4 class="title">Make a Donation</h4>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form>
                    <div class="form-group sa-top-input-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Full Name</label>
                                <input type="text" class="form-control border" placeholder="Full Name">
                            </div>
                            <div class="col-sm-6">
                                <label>Email Address <em class="text-danger">*</em> </label>
                                <input type="email" class="form-control border" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Donation Amount <em class="text-danger">*</em> </label>
                        <div class="row">
                            <div class="col-md-9 col-lg-10">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">$</span>
                                    </div>
                                    <input type="text" class="form-control border w-auto" placeholder="$100">
                                </div>
                                <ul class="select_amount">
                                    <li>$10.00</li>
                                    <li>$25.00</li>
                                    <li>$50.00</li>
                                    <li class="active">$100.00</li>
                                    <li>$500.00</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Payment Method <em class="text-danger">*</em> </label>
                        <div class="d-block">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="offline" name="offline" class="custom-control-input">
                                <label class="custom-control-label" for="offline">Offline Payment</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="online" name="online" class="custom-control-input">
                                <label class="custom-control-label" for="online">Online Payment</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Campaigns <em class="text-danger">*</em> </label>
                        <select class="form-control">
                            <option>Education for Every Child - (Target: 10000.00)</option>
                            <option>Education for Every Child - (Target: 15000.00)</option>
                            <option>Education for Every Child - (Target: 20000.00)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea rows="4" class="form-control border" placeholder="Your Custom text"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="sigma_btn-custom light" name="button">Donate Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>