<div class="sigma_banner banner-2">
    <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" class="sigma_banner-slider">
        <!-- Banner Item Start -->
        <div ngxSlickItem class="light-bg sigma_banner-slider-inner bg-cover bg-center bg-norepeat dark-overlay" [style.background-image]="'url('+item.img+')'" *ngFor="let item of bannerpost">
            <div class="sigma_banner-text">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <h1 class="title text-white">{{item.title}}</h1>
                            <p class="text-white">{{item.subtitle}}</p>
                            <div class="section-button d-flex align-items-center">
                                <a routerLink="/events" class="sigma_btn-custom">View Donation <i class="far fa-arrow-right"></i> </a>
                            </div>
                        </div>
                        <div class="col-lg-4 text-lg-right">
                            <a href="https://www.youtube.com/watch?v=KH1pcNUTa6U" class="sigma_video-popup bg-white popup-youtube mt-5 mt-lg-0">
                                <i class="fas fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Item End -->
    </ngx-slick-carousel>
</div>