<div class="section light-bg">
    <div class="container-fluid">
        <div class="section-title text-left">
            <p class="subtitle"> <span></span> Expert Team <span></span> </p>
            <h4 class="title">Charity Volunteers</h4>
        </div>
        <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" class="team-slider">
            <div ngxSlickItem class="sigma_team team-1" *ngFor="let item of teamblock">
                <div class="sigma_team-thumb">
                    <img [src]="item.img" [alt]="item.name">
                </div>
                <div class="sigma_team-body">
                    <div class="sigma_team-info">
                        <h5>{{item.name}}</h5>
                        <p>{{item.designation}}</p>
                        <div class="sigma_team-sm">
                            <ul class="sigma_sm">
                                <li *ngFor="let item of item.social"> 
                                    <a routerLink="{{item.url}}" [title]="item.title"> <i [class]="item.icon"></i> </a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>