<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="assets/img/about2.jpg" alt="img">
            </div>
            <div class="col-lg-6">
                <div class="mr-lg-30">
                    <div class="sigma_counter style-2 mt-0 no-border">
                        <b class="counter" [countUp]="75">0</b>
                        <div class="sigma_counter-content">
                            <span>years</span>
                            <span>in Charity</span>
                            <span>Done</span>
                        </div>
                    </div>
                    <p>
                        The practice of charity means the voluntary giving of help to those in need, as a humanitarian act. There are a number of philosophies about charity, often associated with religion. Effective altruism is the use of evidence
                        and reasoning to determine
                    </p>
                    <div class="sigma_icon-block icon-block-3 d-block" *ngFor="let item of blocks">
                        <div class="icon-wrapper mb-4">
                            <i class="text-white" [ngClass]="item.icon"></i>
                        </div>
                        <div class="sigma_icon-block-content">
                            <h5> {{item.title}} </h5>
                            <p>{{item.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>